iris.json
{
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "iris_cirurgias_v3",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                12224,
                9328
            ],
            "id": "661263e8-1b0b-46b3-a15e-4395529467df",
            "name": "Webhook",
            "webhookId": "0027c108-1985-4f51-aa27-fa30e2728dc4"
        },
        {
            "parameters": {
                "jsCode": "try {\n  const incoming = $input.first()?.json || {};\n  const body = incoming.body || incoming || {};\n\n  const rawOriginalInput =\n    body.originalInput ||\n    body.chatInput ||\n    body.message ||\n    body.input ||\n    body.text ||\n    \"\";\n\n  const originalInput = String(rawOriginalInput || \"\")\n    .replace(/\\s+\\d{1,2}:\\d{2}\\s*$/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  if (!originalInput) {\n    throw new Error(\"Nenhuma mensagem textual recebida.\");\n  }\n\n  return [{\n    json: {\n      originalInput,\n      chatInput: originalInput,\n      userQuestion: originalInput,\n\n      hoje: new Date().toISOString().split(\"T\")[0],\n\n      job_id: body.job_id || null,\n      sessionId: body.sessionId || body.conversationId || null,\n      conversationId: body.conversationId || body.sessionId || null,\n\n      callback_url: body.callback_url || null,\n      callback_token: body.callback_token || null,\n\n      error: false\n    }\n  }];\n} catch (error) {\n  const incoming = $input.first()?.json || {};\n  const body = incoming.body || incoming || {};\n\n  return [{\n    json: {\n      originalInput: \"\",\n      chatInput: \"\",\n      userQuestion: \"\",\n\n      hoje: new Date().toISOString().split(\"T\")[0],\n\n      job_id: body.job_id || null,\n      sessionId: body.sessionId || body.conversationId || null,\n      conversationId: body.conversationId || body.sessionId || null,\n\n      callback_url: body.callback_url || null,\n      callback_token: body.callback_token || null,\n\n      error: true,\n      errorType: \"input_error\",\n      errorMessage: error.message\n    }\n  }];\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                12448,
                9328
            ],
            "id": "f078e61f-9548-4384-8445-cabe3f90e96a",
            "name": "Extrair pergunta"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {success:true,status:'accepted',job_id:$json.job_id} }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                12672,
                9328
            ],
            "id": "a89a1395-db34-4b0c-af12-cc4359356199",
            "name": "Respond"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "c1",
                            "leftValue": "={{ $json.error }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                12896,
                9328
            ],
            "id": "67c12a43-fda0-4284-b45f-f8cff88bacdf",
            "name": "IF erro entrada"
        },
        {
            "parameters": {
                "jsCode": "const m=$json.errorMessage||'Não consegui processar.';return{json:{...$json,final_answer:m,error:true,errorType:'input_error',validated:false,analysis_type:'erro',judge_output:{judge_passed:false,overall_score:0,source:'input_guard'}}};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                13024,
                8160
            ],
            "id": "658409e1-7867-4483-87f2-bf0a3fdb4c09",
            "name": "Preparar erro inicial"
        },
        {
            "parameters": {
                "jsCode": "try {\n  const s = $('Extrair pergunta').first().json || {};\n\n  const originalInput = String(s.originalInput || \"\")\n    .replace(/\\s+\\d{1,2}:\\d{2}\\s*$/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  const n = originalInput\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  const simpleInputs = new Set([\n    \"ola\",\n    \"oi\",\n    \"bom dia\",\n    \"boa tarde\",\n    \"boa noite\",\n    \"e ai\",\n    \"eai\",\n    \"hello\",\n    \"hi\",\n    \"ping\",\n    \"ajuda\",\n    \"help\",\n    \"comandos\",\n    \"como funciona\",\n    \"o que voce faz\"\n  ]);\n\n  const sampleTerms = [\n    \"amostra\",\n    \"amostras\",\n    \"exemplo\",\n    \"exemplos\",\n    \"caso exemplo\",\n    \"casos exemplo\",\n    \"alguns casos\",\n    \"algumas linhas\",\n    \"linhas de exemplo\",\n    \"registros de exemplo\",\n    \"me mostre casos\",\n    \"me mostre exemplos\",\n    \"traga exemplos\",\n    \"traga amostras\"\n  ];\n\n  const detailTerms = [\n    \"liste\",\n    \"listar\",\n    \"listagem\",\n    \"trecho\",\n    \"trechos\",\n    \"evidencia\",\n    \"evidencias\",\n    \"detalhe\",\n    \"detalhes\",\n    \"detalhado\",\n    \"detalhada\",\n    \"caso\",\n    \"casos\",\n    \"score\",\n    \"estratificacao\",\n    \"informacoes\",\n    \"motivo\",\n    \"motivos\",\n    \"justificativa\",\n    \"justificativas\",\n    \"levaram\",\n    \"levou\",\n    \"influenciaram\"\n  ];\n\n  const aggregationTerms = [\n    \"quantos\",\n    \"quantas\",\n    \"quantidade\",\n    \"contagem\",\n    \"total\",\n    \"soma\",\n    \"media\",\n    \"percentual\",\n    \"porcentagem\",\n    \"distribuicao\",\n    \"agregado\",\n    \"consolidado\",\n    \"relatorio\"\n  ];\n\n  function extractSampleSize(text) {\n    const patterns = [\n      /\\b(\\d{1,2})\\s+(amostras|exemplos|casos|linhas|registros)\\b/i,\n      /\\b(amostras|exemplos|casos|linhas|registros)\\s+(de\\s+)?(\\d{1,2})\\b/i,\n      /\\b(top|primeiros|primeiras)\\s+(\\d{1,2})\\b/i\n    ];\n\n    for (const pattern of patterns) {\n      const match = text.match(pattern);\n\n      if (!match) {\n        continue;\n      }\n\n      const value = Number(match[1] || match[3] || match[2]);\n\n      if (Number.isFinite(value) && value > 0) {\n        return Math.min(value, 20);\n      }\n    }\n\n    return 5;\n  }\n\n  const isSimple = simpleInputs.has(n);\n\n  const sampleMode =\n    !isSimple &&\n    sampleTerms.some(term => n.includes(term));\n\n  const sampleSize = sampleMode\n    ? extractSampleSize(n)\n    : null;\n\n  const wantsRows =\n    !isSimple &&\n    (\n      sampleMode ||\n      detailTerms.some(term => n.includes(term))\n    );\n\n  const hasAggregationIntent =\n    !isSimple &&\n    !sampleMode &&\n    aggregationTerms.some(term => n.includes(term));\n\n  const outputMode = sampleMode\n    ? \"sample\"\n    : (wantsRows ? \"rows\" : \"summary\");\n\n  return [{\n    json: {\n      originalInput,\n      chatInput: originalInput,\n      userQuestion: originalInput,\n\n      hoje: s.hoje,\n      sessionId: s.sessionId,\n      conversationId: s.conversationId,\n      job_id: s.job_id,\n      callback_url: s.callback_url,\n      callback_token: s.callback_token,\n\n      is_simple: isSimple,\n\n      output_mode: outputMode,\n      wants_rows: wantsRows,\n\n      sample_mode: sampleMode,\n      sample_size: sampleSize,\n\n      has_aggregation_intent: hasAggregationIntent,\n      has_detail_intent: wantsRows,\n      wants_aggregations: hasAggregationIntent,\n\n      error: false\n    }\n  }];\n} catch (error) {\n  const s = $('Extrair pergunta').first().json || {};\n\n  return [{\n    json: {\n      ...s,\n      is_simple: false,\n      output_mode: \"summary\",\n      wants_rows: false,\n      sample_mode: false,\n      sample_size: null,\n      wants_aggregations: false,\n      error: true,\n      errorType: \"router_error\",\n      errorMessage: error.message\n    }\n  }];\n}"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                13088,
                9552
            ],
            "id": "de151a92-15ec-4862-ac49-058a58f47cbe",
            "name": "Preparar Entrada Orquestrador"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-5.4-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-5.4-mini"
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.3,
            "position": [
                13328,
                9888
            ],
            "id": "f6afe424-ced8-4d83-bc57-e54aa84b4858",
            "name": "OpenAI Chat Model Orquestrador",
            "credentials": {
                "openAiApi": {
                    "id": "c9lFjIGQA4THmkqe",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "name": "rag_blueprint",
                "description": "Régua de classificação de cirurgia de catarata. Chame PRIMEIRO em perguntas substantivas. NÃO chame para saudações.",
                "workflowId": {
                    "__rl": true,
                    "value": "UwrZ84G1GSbpraln",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/UwrZ84G1GSbpraln",
                    "cachedResultName": "Iris Cirurgias — 02 RAG Blueprint"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "originalInput": "={{ $json.originalInput }}",
                        "ragRequired": true,
                        "retryCount": 0,
                        "maxRetries": 1
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "originalInput",
                            "displayName": "originalInput",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "ragRequired",
                            "displayName": "ragRequired",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "boolean"
                        },
                        {
                            "id": "retryCount",
                            "displayName": "retryCount",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "number"
                        },
                        {
                            "id": "maxRetries",
                            "displayName": "maxRetries",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "number"
                        }
                    ],
                    "attemptToConvertTypes": true,
                    "convertFieldsToString": true
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.1,
            "position": [
                13664,
                9904
            ],
            "id": "4a464ac2-4056-4333-843b-d044af5ac55d",
            "name": "Ferramenta RAG Blueprint"
        },
        {
            "parameters": {
                "name": "sql_executor",
                "description": "Dados reais do AMEI. Só chame DEPOIS do rag_blueprint com o rag_context.",
                "workflowId": {
                    "__rl": true,
                    "value": "nqWDnScAifJvPnkz",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/nqWDnScAifJvPnkz",
                    "cachedResultName": "Iris Cirurgias — 03 SQL Executor"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "originalInput": "={{ $json.originalInput }}",
                        "rag_context": "={{ $fromAI('rag_context','Contexto RAG retornado pelo rag_blueprint','string') }}",
                        "rag_used": true,
                        "hoje": "={{ $('Preparar Entrada Orquestrador').first().json.hoje }}",
                        "output_mode": "={{ $('Preparar Entrada Orquestrador').first().json.output_mode }}",
                        "wants_rows": "={{ $('Preparar Entrada Orquestrador').first().json.wants_rows }}",
                        "retry_count": 0,
                        "retry_reason": "={{ null }}",
                        "sample_size": "={{ $('Preparar Entrada Orquestrador').first().json.sample_size }}",
                        "sample_mode": "={{ $('Preparar Entrada Orquestrador').first().json.sample_mode }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "originalInput",
                            "displayName": "originalInput",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "rag_context",
                            "displayName": "rag_context",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "rag_used",
                            "displayName": "rag_used",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "boolean"
                        },
                        {
                            "id": "hoje",
                            "displayName": "hoje",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "output_mode",
                            "displayName": "output_mode",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string"
                        },
                        {
                            "id": "wants_rows",
                            "displayName": "wants_rows",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "boolean"
                        },
                        {
                            "id": "sample_mode",
                            "displayName": "sample_mode",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "boolean",
                            "removed": false
                        },
                        {
                            "id": "sample_size",
                            "displayName": "sample_size",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "number",
                            "removed": false
                        },
                        {
                            "id": "retry_count",
                            "displayName": "retry_count",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "number"
                        },
                        {
                            "id": "retry_reason",
                            "displayName": "retry_reason",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true
                        }
                    ],
                    "attemptToConvertTypes": true,
                    "convertFieldsToString": true
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.1,
            "position": [
                13904,
                9888
            ],
            "id": "15dfebcf-200d-4664-ae60-a77fb3ed7666",
            "name": "Ferramenta SQL Executor"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ \n`Pergunta:\n${$json.originalInput}\n\nAprendizados do projeto:\n${$json.memory_context || '{}'}\n\n${$json.is_retry ? `\nMODO RETRY PÓS-JUDGE:\n${$json.retry_context || '{}'}\n\nInstrução:\nCorrija a resposta anterior.\nUse apenas os dados já disponíveis.\nNão invente totais, pacientes, atendimentos, percentuais, scores ou evidências.\nSe for pedido de amostra, retorne registros individuais sem agregações.\n` : ''}`\n}}",
                "options": {
                    "systemMessage": "Você é a Iris, agente orquestrador principal do fluxo Iris Cirurgias.\n\nVocê pode usar:\n- rag_blueprint\n- sql_executor\n\nUse os aprendizados do projeto como checklist operacional preventivo.\nEles não substituem o RAG.\nEles não substituem o SQL.\nEles não autorizam inventar dados.\nEm caso de conflito:\n1. Dados reais retornados pelo SQL vencem.\n2. Régua clínica real retornada pelo RAG vence.\n3. Aprendizados do projeto servem apenas como orientação de processo.\n\nRegras:\n1. Saudação ou ajuda simples: responda direto, sem ferramentas, com: \"Olá, eu sou a Iris, em que posso te ajudar?\"\n2. Pergunta substantiva sobre catarata, cirurgia, prontuário, classificação, score, relatório, contagem, evidência, trechos ou dados reais: chame rag_blueprint primeiro.\n3. Para dados reais: chame sql_executor depois do RAG.\n4. Ao chamar sql_executor, envie em rag_context somente a régua clínica real retornada pelo RAG.\n5. Não envie SQL de exemplo, JSON bruto, memória, report_output_spec ou output_final_orquestrador como rag_context.\n6. Nunca invente dados, totais, percentuais, pacientes, atendimentos, scores ou evidências.\n7. Não exponha arquitetura interna.\n8. Só mostre SQL se o usuário pedir explicitamente.\n9. Judge não é ferramenta sua; ele roda depois para métricas.\n10. Use os aprendizados carregados para evitar erros recorrentes já identificados pelo Judge.\n\nUso dos aprendizados do projeto:\n- Se houver aprendizado sobre amostra, obedeça: amostra significa poucos registros individuais, não agregação.\n- Se houver aprendizado sobre evidências, inclua campo de origem, termo detectado e trecho textual sempre que disponível.\n- Se houver aprendizado sobre anti-alucinação, não complete lacunas com suposição.\n- Se houver aprendizado sobre SQL, redobre validação de tipos, sintaxe Athena/Presto e limites.\n- Se houver aprendizado sobre RAG, nunca pule o RAG em perguntas substantivas.\n- Não copie o texto dos aprendizados na resposta final ao usuário.\n\nUso do RAG:\n- Use rag_context, termos e scoring para orientar a análise clínica.\n- Use output_final_orquestrador somente para montar a resposta final ao usuário.\n- Use report_output_spec somente para estruturar relatórios finais.\n- output_final_orquestrador e report_output_spec não devem ser enviados ao SQL Executor.\n- O modelo de extração do RAG serve para decidir quais informações explicar no final_answer: classificação, score, evidências, campo de origem, termo detectado, justificativa, métricas e limitações.\n\nMontagem da resposta final:\n- Se houver dados SQL, responda com base apenas no resultado retornado pelo sql_executor.\n- Se output_mode=\"sample\" ou sample_mode=true, entregue uma amostra pequena de registros, sem resumo agregado, sem percentuais e sem contagem consolidada.\n- Em pedido de amostra, mostre registros individuais com dados úteis: id_atendimento, id_paciente, data, classificação, score, lateralidade se houver, campo de origem, termo detectado e trecho/evidência.\n- Para relatório, inclua resumo executivo, métricas principais, estratificação e interpretação.\n- Para rows, explique os exemplos/evidências disponíveis sem inventar registros ausentes.\n- Se houver score, explique de forma simples quais fatores contribuíram para a classificação.\n- Se houver limitações, informe de forma objetiva.\n- Se não houver dados suficientes, diga que não foi possível montar resposta confiável.\n- Não copie JSON técnico na resposta ao usuário.\n\nRetorne somente JSON válido:\n\n{\n  \"final_answer\": \"\",\n  \"analysis_type\": \"contagem|listagem|distribuicao|amostra|relatorio|comparacao|classificacao_direta|conceitual|saudacao|erro\",\n  \"periodo\": {\"inicio\": null, \"fim_exclusivo\": null},\n  \"unit_of_analysis\": \"id_atendimento|id_paciente|nao_aplicavel\",\n  \"error\": false,\n  \"errorType\": null,\n  \"errorMessage\": null,\n  \"rag_used\": false,\n  \"sql_used\": false,\n  \"user_asked_for_sql\": false\n}\n\nModo retry pós-Judge:\n- Se is_retry=true, você está corrigindo uma resposta anterior.\n- Use a crítica do Judge como checklist de correção.\n- Não exponha Judge, retry, arquitetura interna ou nomes de nodes.\n- Não invente novos dados.\n- Use apenas dados já retornados pelo SQL, RAG e contexto recebido.\n- Evite chamar ferramentas novamente se os dados necessários já estiverem em query_result, executor_summary ou rag_context.\n- Se os dados disponíveis forem insuficientes para corrigir, diga isso claramente.\n- Em modo retry, preserve o formato JSON obrigatório.",
                    "maxIterations": 3,
                    "returnIntermediateSteps": true,
                    "enableStreaming": false
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                13712,
                9552
            ],
            "id": "4e87c754-c838-4f26-943c-0c5124fb28f8",
            "name": "AI Agent Orquestrador"
        },
        {
            "parameters": {
                "jsCode": "const current = $json || {};\nconst raw = current.output ?? current.text ?? \"\";\n\nfunction getNodeJson(nodeName) {\n  try {\n    return $(nodeName).first().json || {};\n  } catch {\n    return {};\n  }\n}\n\nconst baseEntrada = getNodeJson(\"Preparar Entrada Orquestrador\");\nconst memoryEntrada = getNodeJson(\"Normalizar Aprendizado\");\nconst retryEntrada = getNodeJson(\"Preparar Retry\");\n\nconst src = {\n  ...baseEntrada,\n  ...memoryEntrada,\n  ...retryEntrada,\n  ...current\n};\n\nconst steps = current.intermediateSteps || [];\n\nfunction strip(value) {\n  return String(value || \"\")\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n}\n\nfunction parse(value) {\n  if (!value) return null;\n  if (typeof value === \"object\") return value;\n\n  try {\n    return JSON.parse(strip(value));\n  } catch {\n    return null;\n  }\n}\n\nfunction parseNested(value) {\n  const parsed = parse(value);\n\n  if (!parsed || typeof parsed !== \"object\") {\n    return null;\n  }\n\n  for (const key of [\n    \"output\",\n    \"result\",\n    \"response\",\n    \"toolResult\",\n    \"final_output\",\n    \"finalOutput\"\n  ]) {\n    if (typeof parsed[key] === \"string\") {\n      const nested = parse(parsed[key]);\n\n      if (nested && typeof nested === \"object\") {\n        return nested;\n      }\n    }\n  }\n\n  return parsed;\n}\n\nfunction collectToolRuns(root) {\n  const runs = [];\n  const seen = new Set();\n\n  function walk(value) {\n    if (!value || typeof value !== \"object\" || seen.has(value)) {\n      return;\n    }\n\n    seen.add(value);\n\n    if (Array.isArray(value)) {\n      value.forEach(walk);\n      return;\n    }\n\n    const toolName =\n      value.action?.tool ||\n      value.action?.toolName ||\n      value.tool ||\n      value.toolName ||\n      value.name ||\n      value.nodeName ||\n      \"\";\n\n    const toolInput =\n      value.action?.toolInput ??\n      value.toolInput ??\n      value.input ??\n      value.args ??\n      value.parameters ??\n      null;\n\n    const observation =\n      value.observation ??\n      value.output ??\n      value.result ??\n      value.response ??\n      value.toolResult ??\n      null;\n\n    if (toolName && observation !== null && observation !== undefined) {\n      runs.push({\n        toolName: String(toolName),\n        toolInput,\n        observation\n      });\n    }\n\n    Object.values(value).forEach(walk);\n  }\n\n  walk(root);\n  return runs;\n}\n\nfunction lastRun(runs, regex) {\n  const matches = runs.filter(run =>\n    regex.test(String(run.toolName || \"\").toLowerCase())\n  );\n\n  return matches.length ? matches[matches.length - 1] : null;\n}\n\nfunction trimText(value, max = 700) {\n  if (value === null || value === undefined) {\n    return value;\n  }\n\n  const text = String(value);\n\n  return text.length > max\n    ? text.slice(0, max) + \"...\"\n    : text;\n}\n\nfunction compactRows(rows) {\n  if (!Array.isArray(rows)) {\n    return [];\n  }\n\n  return rows.map(row => ({\n    estrato: row.estrato ?? null,\n    classificacao: row.classificacao ?? row.estrato ?? null,\n    id_atendimento: row.id_atendimento ?? null,\n    id_paciente: row.id_paciente ?? null,\n    data_atendimento: row.data_atendimento ?? null,\n    campo_origem: row.campo_origem ?? null,\n    termo_detectado: row.termo_detectado ?? null,\n    trecho_evidencia: trimText(row.trecho_evidencia ?? row.evidencia ?? null, 700),\n    score: row.score ?? null,\n    cid_codigo_txt: row.cid_codigo_txt ?? row.cid_codigo ?? null,\n    flg_cirurgica: row.flg_cirurgica ?? null,\n    nome_profissional: row.nome_profissional ?? null\n  }));\n}\n\nfunction rowsFromSqlPayload(payload) {\n  if (!payload || typeof payload !== \"object\") {\n    return [];\n  }\n\n  const data = payload.data || payload;\n\n  const rows =\n    data.rows ||\n    data.data?.rows ||\n    payload.rows ||\n    [];\n\n  return Array.isArray(rows) ? rows : [];\n}\n\nfunction safeNumber(value, fallback = 0) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nconst toolRuns = collectToolRuns(steps);\n\nconst ragRun = lastRun(\n  toolRuns,\n  /rag_blueprint|rag blueprint|ferramenta rag|rag/\n);\n\nconst sqlRun = lastRun(\n  toolRuns,\n  /sql_executor|sql executor|ferramenta sql|sql/\n);\n\nconst ragObs = ragRun ? parseNested(ragRun.observation) : null;\nconst sqlObs = sqlRun ? parseNested(sqlRun.observation) : null;\nconst out = parse(raw) || {};\n\nconst previousQueryResult = src.query_result || null;\n\nconst previousExecutorSummary =\n  src.executor_summary ||\n  previousQueryResult?.summary ||\n  {};\n\nconst previousExecutorRowCount =\n  src.executor_row_count ??\n  previousQueryResult?.row_count ??\n  previousQueryResult?.rows?.length ??\n  0;\n\nconst previousHasData =\n  src.has_data === true ||\n  Boolean(previousQueryResult);\n\nconst ragUsed =\n  out.rag_used === true ||\n  src.rag_used === true ||\n  Boolean(ragRun);\n\nconst sqlUsed =\n  out.sql_used === true ||\n  src.sql_used === true ||\n  Boolean(sqlRun);\n\nconst specializedUsed = ragUsed || sqlUsed;\n\nconst ragContext = trimText(\n  out.rag_context ||\n  ragObs?.rag_context ||\n  ragObs?.context ||\n  ragObs?.rules ||\n  ragObs?.output ||\n  ragObs?.final_answer ||\n  src.rag_context ||\n  \"\",\n  3000\n);\n\nlet executor = null;\n\nif (sqlObs && typeof sqlObs === \"object\") {\n  const data = sqlObs.data || sqlObs;\n  const rowsRaw = rowsFromSqlPayload(sqlObs);\n  const summary = sqlObs.summary || data.summary || {};\n\n  executor = {\n    execution_status:\n      sqlObs.execution_status ||\n      sqlObs.status ||\n      (sqlObs.error ? \"error\" : \"success\"),\n\n    summary,\n\n    rows: compactRows(rowsRaw),\n\n    row_count:\n      sqlObs.row_count ??\n      summary.total_registros ??\n      rowsRaw.length,\n\n    truncated: sqlObs.truncated === true,\n\n    sql: sqlObs.sql || null,\n\n    error: sqlObs.error || null,\n\n    limitations: Array.isArray(sqlObs.limitations)\n      ? sqlObs.limitations\n      : []\n  };\n}\n\nconst analysisType = String(\n  out.analysis_type ||\n  src.analysis_type ||\n  \"\"\n).toLowerCase();\n\nconst isSimple =\n  src.is_simple === true ||\n  (\n    [\"saudacao\", \"conceitual\", \"nao_aplicavel\"].includes(analysisType) &&\n    !specializedUsed\n  );\n\nconst dataIntent =\n  !isSimple &&\n  (\n    src.has_aggregation_intent === true ||\n    src.has_detail_intent === true ||\n    /catarata|cirurgia|prontuario|prontuário|relat[oó]rio|score|estratifica|evid[eê]ncia|trecho|abril|dados|registro|classifica/i.test(src.originalInput || \"\")\n  );\n\nlet error = out.error === true || src.error === true;\nlet errorType = out.errorType || src.errorType || null;\nlet errorMessage = out.errorMessage || src.errorMessage || null;\n\nlet finalAnswer = String(\n  out.final_answer ||\n  out.output ||\n  \"\"\n).trim();\n\nif (executor && executor.execution_status === \"error\") {\n  error = true;\n  errorType = \"sql_executor_error\";\n  errorMessage = String(\n    executor.error?.message ||\n    executor.error ||\n    \"sql_executor_error\"\n  );\n\n  finalAnswer = \"Não foi possível concluir a análise porque houve erro ao consultar os dados.\";\n}\n\nif (!finalAnswer && executor && executor.execution_status !== \"error\") {\n  const summary = executor.summary || {};\n  const total = summary.total_registros ?? executor.row_count ?? 0;\n\n  if (total === 0) {\n    finalAnswer = \"Consulta executada, mas não foram encontrados registros para os critérios informados.\";\n  } else {\n    const metrics = [];\n\n    for (const [label, key] of [\n      [\"Positivos\", \"positivos\"],\n      [\"Prováveis\", \"provaveis\"],\n      [\"Negativos\", \"negativos\"],\n      [\"Pós-operatórios/irrelevantes\", \"pos_operatorios\"],\n      [\"Percentual de positivos\", \"percentual_positivos\"],\n      [\"Percentual de prováveis\", \"percentual_provaveis\"],\n      [\"Percentual de negativos\", \"percentual_negativos\"]\n    ]) {\n      if (summary[key] !== undefined && summary[key] !== null) {\n        metrics.push(\n          `- ${label}: ${summary[key]}${key.startsWith(\"percentual\") ? \"%\" : \"\"}`\n        );\n      }\n    }\n\n    finalAnswer = `Encontrei ${total} registros para a análise solicitada.`;\n\n    if (metrics.length) {\n      finalAnswer += `\\n\\nResumo:\\n${metrics.join(\"\\n\")}`;\n    }\n\n    if (src.wants_rows && executor.rows.length) {\n      const examples = executor.rows.map((row, index) =>\n        `${index + 1}. ${row.id_atendimento ?? \"não informado\"} | ${row.classificacao ?? row.estrato ?? \"sem classificação\"} | Score: ${row.score ?? \"não informado\"} | ${trimText(row.trecho_evidencia, 220) || \"sem trecho\"}`\n      );\n\n      finalAnswer += `\\n\\nExemplos:\\n${examples.join(\"\\n\")}`;\n    }\n  }\n}\n\nif (!finalAnswer && src.is_retry === true && src.final_answer) {\n  finalAnswer = String(src.final_answer || \"\").trim();\n}\n\nif (!finalAnswer) {\n  finalAnswer = isSimple\n    ? \"Olá! Posso ajudar a consultar, resumir ou classificar registros relacionados à cirurgia de catarata.\"\n    : \"Não consegui montar uma resposta confiável para essa solicitação.\";\n}\n\nconst queryResult =\n  executor && executor.execution_status !== \"error\"\n    ? {\n        summary: executor.summary,\n        row_count: executor.row_count,\n        truncated: executor.truncated,\n        rows: executor.rows,\n        limitations: executor.limitations\n      }\n    : previousQueryResult;\n\nconst executorSummary =\n  executor?.summary ||\n  previousExecutorSummary ||\n  {};\n\nconst executorRowCount =\n  executor?.row_count ??\n  previousExecutorRowCount ??\n  0;\n\nconst hasData =\n  Boolean(executor && executor.execution_status !== \"error\") ||\n  previousHasData;\n\nconst userAskedForSql =\n  out.user_asked_for_sql === true ||\n  src.user_asked_for_sql === true;\n\nconst sqlValue =\n  userAskedForSql\n    ? (out.sql || executor?.sql || src.sql || null)\n    : null;\n\nconst retryCount = safeNumber(src.retry_count, 0);\nconst isRetry = src.is_retry === true;\nconst retryApplied = isRetry === true;\n\nconst judgeRequired =\n  specializedUsed &&\n  !error;\n\nreturn {\n  json: {\n    originalInput: src.originalInput,\n    chatInput: src.chatInput,\n    userQuestion: src.userQuestion,\n\n    hoje: src.hoje,\n    sessionId: src.sessionId,\n    conversationId: src.conversationId,\n    job_id: src.job_id,\n    callback_url: src.callback_url,\n    callback_token: src.callback_token,\n\n    final_answer: finalAnswer,\n    output: finalAnswer,\n\n    analysis_type:\n      out.analysis_type ||\n      src.analysis_type ||\n      (isSimple ? \"saudacao\" : (dataIntent ? \"relatorio\" : \"nao_aplicavel\")),\n\n    periodo:\n      out.periodo ||\n      src.periodo ||\n      { inicio: null, fim_exclusivo: null },\n\n    unit_of_analysis:\n      out.unit_of_analysis ||\n      src.unit_of_analysis ||\n      \"nao_aplicavel\",\n\n    sql: sqlValue,\n    user_asked_for_sql: userAskedForSql,\n\n    error,\n    errorType,\n    errorMessage,\n    validated: !error,\n\n    rag_used: ragUsed,\n    sql_used: sqlUsed,\n    rag_context: ragContext,\n\n    executor_summary: executorSummary,\n    executor_row_count: executorRowCount,\n    has_data: hasData,\n\n    query_result: queryResult,\n\n    retry_count: retryCount,\n    is_retry: isRetry,\n    retry_context: src.retry_context || null,\n    retry_applied: retryApplied,\n\n    memory_context: src.memory_context || null,\n    memory_loaded: src.memory_loaded === true,\n    memory_count: src.memory_count ?? null,\n\n    orchestration: {\n      ...(src.orchestration || {}),\n\n      rag_used: ragUsed,\n      sql_used: sqlUsed,\n\n      judge_used: false,\n      judge_required: judgeRequired,\n\n      retry_used: retryApplied,\n\n      agents_called: Array.from(new Set([\n        ...(src.orchestration?.agents_called || []),\n        \"orchestrator\",\n        ...(ragUsed ? [\"rag_blueprint\"] : []),\n        ...(sqlUsed ? [\"sql_executor\"] : []),\n        ...(retryApplied ? [\"orchestrator_retry\"] : [])\n      ]))\n    },\n\n    judge_output: isSimple\n      ? {\n          judge_passed: true,\n          overall_score: 1,\n          source: \"light_judge\"\n        }\n      : {\n          judge_passed: null,\n          overall_score: null,\n          source: judgeRequired ? \"pending_metric_judge\" : \"not_required\"\n        },\n\n    judge_passed: isSimple ? true : null,\n    judge_score: isSimple ? 1 : null,\n\n    needs_judge_evaluation: judgeRequired,\n\n    issues: error\n      ? [\n          {\n            type: errorType || \"error\",\n            message: errorMessage || \"Erro não especificado.\"\n          }\n        ]\n      : []\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                14016,
                9552
            ],
            "id": "de5e138f-bfb0-452e-9467-26a0bf04e0d7",
            "name": "Normalizar Orquestrador"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "c2",
                            "leftValue": "={{ $json.needs_judge_evaluation }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                14224,
                9552
            ],
            "id": "86e91d36-d9ec-4dda-abeb-37fb617c77b0",
            "name": "IF precisa Judge"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "Diw5O4EpzOF2qdAL",
                    "mode": "list",
                    "cachedResultName": "Iris Cirurgias — 04 Judge e Retry"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "originalInput": "={{ $json.originalInput || '' }}",
                        "final_answer": "={{ $json.final_answer || '' }}",
                        "rag_context": "={{ $json.rag_context || '' }}",
                        "summary": "={{ JSON.stringify($json.executor_summary || {}) }}",
                        "row_count": "={{ $json.executor_row_count || 0 }}",
                        "has_data": "={{ $json.has_data || false }}",
                        "error": "={{ $json.error || false }}",
                        "user_asked_for_sql": "={{ $json.user_asked_for_sql || false }}"
                    },
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": true,
                    "convertFieldsToString": true
                },
                "options": {}
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
                14432,
                9424
            ],
            "id": "4bde7d3b-2401-4e92-851a-172d732ea802",
            "name": "Call Judge Métricas",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "return {\n  json: {\n    ...$json,\n    needs_judge_evaluation: false,\n    orchestration: {\n      ...($json.orchestration || {}),\n      judge_used: false,\n      judge_required: false\n    }\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                14464,
                10336
            ],
            "id": "07cfeb57-8280-4014-9a8c-fafa2a866089",
            "name": "Sem Judge"
        },
        {
            "parameters": {
                "jsCode": "const candidate = $(\"Normalizar Orquestrador\").first().json || {};\nconst judge = $json || {};\n\nconst judgePassed =\n  judge.judge_passed ??\n  judge.passed ??\n  judge.judgment?.judge_passed ??\n  null;\n\nconst judgeScore =\n  judge.overall_score ??\n  judge.score_final ??\n  judge.judgment?.overall_score ??\n  judge.judgment?.score_final ??\n  null;\n\nreturn {\n  json: {\n    ...candidate,\n\n    final_answer: candidate.final_answer,\n    output: candidate.output || candidate.final_answer,\n\n    error: candidate.error === true,\n    errorType: candidate.errorType || null,\n    errorMessage: candidate.errorMessage || null,\n\n    validated: candidate.error !== true,\n\n    judge_output: judge,\n    judge_passed: judgePassed,\n    judge_score: judgeScore,\n\n    orchestration: {\n      ...(candidate.orchestration || {}),\n      judge_used: true,\n      judge_required: true,\n      agents_called: Array.from(new Set([\n        ...(candidate.orchestration?.agents_called || []),\n        \"judge_qualidade\"\n      ]))\n    },\n\n    timestamp: new Date().toISOString()\n  }\n};\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                14736,
                9424
            ],
            "id": "c08b6751-8249-4373-89b3-ce1141f12a0f",
            "name": "Anexar Métricas Judge"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('Extrair pergunta').first().json.callback_url }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  job_id: $json.job_id || null,\n  callback_token: $json.callback_token || null,\n  status: $json.error ? \"error\" : \"completed\",\n  payload: {\n    success: !$json.error,\n    final_answer: $json.final_answer || \"\",\n    output: $json.output || $json.final_answer || \"\",\n    error: $json.error || false,\n    errorType: $json.errorType || null,\n    errorMessage: $json.errorMessage || null,\n    analysis_type: $json.analysis_type || null,\n    periodo: $json.periodo || null,\n    unit_of_analysis: $json.unit_of_analysis || null,\n    validated: $json.validated || false,\n    rag_used: $json.rag_used || false,\n    sql_used: $json.sql_used || false,\n    row_count: $json.executor_row_count || 0,\n    query_result: $json.query_result || null,\n    judge_output: $json.judge_output || null,\n    judge_passed: $json.judge_passed ?? null,\n    judge_score: $json.judge_score ?? null,\n    sql: ($json.user_asked_for_sql && $json.sql) ? $json.sql : null,\n    timestamp: new Date().toISOString()\n  }\n}) }}",
                "options": {
                    "timeout": 10000
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                16352,
                8208
            ],
            "id": "d4c9f99c-dc79-4d0b-ae81-f4cc0e75ac86",
            "name": "HTTP Callback"
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "PTk28EmgrVwMQutE",
                    "mode": "list",
                    "cachedResultName": "Iris Cirurgias — 05 Logging Judge"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "originalInput": "={{ $json.originalInput || '' }}",
                        "final_answer": "={{ $json.final_answer || '' }}",
                        "analysis_type": "={{ $json.analysis_type || '' }}",
                        "rag_used": "={{ $json.rag_used || false }}",
                        "sql_used": "={{ $json.sql_used || false }}",
                        "row_count": "={{ $json.executor_row_count || 0 }}",
                        "judge_passed": "={{ $json.judge_passed ?? false }}",
                        "judge_score": "={{ $json.judge_score ?? 0 }}",
                        "block_reason": "={{ $json.errorType || '' }}",
                        "issues": "={{ JSON.stringify($json.issues || []) }}",
                        "error": "={{ $json.error || false }}",
                        "error_type": "={{ $json.errorType || '' }}",
                        "job_id": "={{ $json.job_id || '' }}",
                        "session_id": "={{ $json.sessionId || '' }}",
                        "workflow_stage": "={{ $json.error ? 'error' : ($json.orchestration?.judge_used ? 'judged_metrics' : 'light') }}"
                    },
                    "matchingColumns": [],
                    "schema": [],
                    "attemptToConvertTypes": true,
                    "convertFieldsToString": true
                },
                "options": {}
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
                18432,
                10256
            ],
            "id": "1506274a-ec84-4ae0-8f2e-547156260ba8",
            "name": "Call Logging"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT\n  COALESCE(\n    jsonb_agg(\n      jsonb_build_object(\n        'category', category,\n        'lesson', lesson,\n        'reason', reason,\n        'confidence', confidence,\n        'usage_count', usage_count,\n        'updated_at', updated_at\n      )\n    ),\n    '[]'::jsonb\n  ) AS aprendizados\nFROM (\n  SELECT\n    category,\n    lesson,\n    reason,\n    confidence,\n    usage_count,\n    updated_at\n  FROM memoria_aprendizados_iris\n  WHERE memory_key = 'iris_cirurgias'\n    AND active = TRUE\n  ORDER BY\n    CASE\n      WHEN category IN (\n        'anti_alucinacao',\n        'amostra_sem_agregacao',\n        'amostra',\n        'evidencias',\n        'rag_sql_handoff',\n        'sql',\n        'rag_clinico',\n        'formato_saida',\n        'relatorio_metricas',\n        'qualidade'\n      ) THEN 0\n      WHEN category LIKE 'bom_padrao%' THEN 2\n      ELSE 1\n    END,\n    confidence DESC,\n    usage_count DESC,\n    updated_at DESC\n  LIMIT 15\n) t;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                13296,
                9552
            ],
            "id": "6e144a8f-75b7-4dd6-bd53-a4e92eb8287a",
            "name": "Buscar Memória",
            "credentials": {
                "postgres": {
                    "id": "Q5xCi9ciIpvJDHqQ",
                    "name": "Iris-Prod"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const data = $json || {};\n\nfunction clip(value, max = 900) {\n  const text = String(value || '').trim();\n  return text.length > max ? text.slice(0, max) + '...' : text;\n}\n\nfunction asNumber(value, fallback = null) {\n  const n = Number(value);\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction normalizeText(value) {\n  return String(value || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction safeJson(value) {\n  try {\n    return JSON.stringify(value || {});\n  } catch {\n    return String(value || '');\n  }\n}\n\nfunction hasAny(text, terms) {\n  return terms.some(term => text.includes(term));\n}\n\nfunction pushLesson(lessons, item) {\n  if (!item || !item.lesson) return;\n\n  const key = `${item.category || ''}::${item.lesson || ''}`;\n\n  if (lessons.some(existing => `${existing.category || ''}::${existing.lesson || ''}` === key)) {\n    return;\n  }\n\n  lessons.push({\n    category: item.category || 'geral',\n    lesson: item.lesson,\n    reason: clip(item.reason || '', 900),\n    confidence: Number(item.confidence || 0.75)\n  });\n}\n\nfunction extractJudgeInfo(d) {\n  const judge = d.judge_output || {};\n\n  const judgePassed =\n    d.judge_passed ??\n    judge.judge_passed ??\n    judge.passed ??\n    judge.judgment?.judge_passed ??\n    null;\n\n  const judgeScore =\n    asNumber(d.judge_score, null) ??\n    asNumber(judge.overall_score, null) ??\n    asNumber(judge.score_final, null) ??\n    asNumber(judge.judgment?.overall_score, null) ??\n    asNumber(judge.judgment?.score_final, null);\n\n  const issues = [\n    ...(Array.isArray(d.issues) ? d.issues : []),\n    ...(Array.isArray(judge.issues) ? judge.issues : []),\n    ...(Array.isArray(judge.problems) ? judge.problems : []),\n    ...(Array.isArray(judge.judgment?.issues) ? judge.judgment.issues : []),\n    ...(Array.isArray(judge.findings) ? judge.findings : [])\n  ];\n\n  const judgeText = normalizeText([\n    safeJson(judge),\n    safeJson(issues),\n    d.errorType || '',\n    d.errorMessage || '',\n    d.analysis_type || '',\n    d.originalInput || '',\n    d.final_answer || ''\n  ].join(' '));\n\n  return {\n    judge,\n    judgePassed,\n    judgeScore,\n    issues,\n    judgeText\n  };\n}\n\nfunction lessonFromExecution(d) {\n  const lessons = [];\n\n  const originalInput = String(d.originalInput || d.userQuestion || d.chatInput || '');\n  const inputText = normalizeText(originalInput);\n  const analysisType = normalizeText(d.analysis_type || '');\n  const finalAnswerText = normalizeText(d.final_answer || '');\n\n  const {\n    judgePassed,\n    judgeScore,\n    judgeText\n  } = extractJudgeInfo(d);\n\n  const lowJudgeScore =\n    judgeScore !== null &&\n    judgeScore !== undefined &&\n    Number(judgeScore) < 0.75;\n\n  const judgeFailed =\n    judgePassed === false ||\n    lowJudgeScore;\n\n  const isSampleIntent =\n    hasAny(inputText, [\n      'amostra',\n      'amostras',\n      'exemplo',\n      'exemplos',\n      'casos exemplo',\n      'algumas linhas',\n      'linhas de exemplo',\n      'registros de exemplo'\n    ]) ||\n    analysisType.includes('amostra');\n\n  const isEvidenceIntent =\n    hasAny(inputText, [\n      'evidencia',\n      'evidencias',\n      'evidência',\n      'evidências',\n      'trecho',\n      'trechos',\n      'justificativa',\n      'justificativas',\n      'motivo',\n      'motivos',\n      'termo detectado',\n      'campo de origem'\n    ]);\n\n  const isAggregationIntent =\n    hasAny(inputText, [\n      'quantos',\n      'quantas',\n      'quantidade',\n      'contagem',\n      'total',\n      'percentual',\n      'porcentagem',\n      'distribuicao',\n      'distribuição',\n      'media',\n      'média',\n      'resumo',\n      'relatorio',\n      'relatório'\n    ]);\n\n  if (d.error === true && d.errorType) {\n    pushLesson(lessons, {\n      category: 'erro_recorrente',\n      lesson: `Quando ocorrer ${d.errorType}, tratar o erro antes de responder ao usuário.`,\n      reason: d.errorMessage || d.errorType,\n      confidence: 0.75\n    });\n  }\n\n  if (d.errorType === 'sql_executor_error') {\n    pushLesson(lessons, {\n      category: 'sql',\n      lesson: 'Validar SQL de forma determinística antes de executar, respeitando sintaxe Athena/Presto e tipos compatíveis.',\n      reason: 'Execução SQL falhou ou foi rejeitada pelo executor.',\n      confidence: 0.9\n    });\n  }\n\n  if (d.errorType === 'missing_rag_context') {\n    pushLesson(lessons, {\n      category: 'rag_sql_handoff',\n      lesson: 'Nunca chamar SQL sem rag_context clínico real retornado pelo RAG.',\n      reason: 'O contexto RAG estava ausente, genérico ou inválido.',\n      confidence: 0.95\n    });\n  }\n\n  if (judgeFailed) {\n    pushLesson(lessons, {\n      category: 'qualidade',\n      lesson: 'Quando o Judge pontuar baixo ou reprovar, revisar aderência aos dados, completude, ausência de invenção e formato final.',\n      reason: `judge_passed=${judgePassed}; judge_score=${judgeScore}`,\n      confidence: 0.8\n    });\n  }\n\n  if (judgeFailed && isSampleIntent) {\n    pushLesson(lessons, {\n      category: 'amostra',\n      lesson: 'Quando o usuário pedir amostra, retornar poucas linhas individuais completas, sem agregações, percentuais ou resumo consolidado.',\n      reason: `Pedido de amostra teve baixa avaliação do Judge. judge_score=${judgeScore}`,\n      confidence: 0.95\n    });\n  }\n\n  if (\n    judgeFailed &&\n    isSampleIntent &&\n    (\n      hasAny(finalAnswerText, ['percentual', 'porcentagem', 'total', 'resumo', 'distribuicao', 'distribuição']) ||\n      hasAny(judgeText, ['agregacao indevida', 'agregação indevida', 'agregado', 'consolidado'])\n    )\n  ) {\n    pushLesson(lessons, {\n      category: 'amostra_sem_agregacao',\n      lesson: 'Em modo amostra, não consolidar resultados; mostrar registros reais com id_atendimento, id_paciente, data, classificação, score e evidência.',\n      reason: 'O Judge indicou ou o texto final sugere uso de agregações em uma solicitação de amostra.',\n      confidence: 0.97\n    });\n  }\n\n  if (judgeFailed && isEvidenceIntent) {\n    pushLesson(lessons, {\n      category: 'evidencias',\n      lesson: 'Quando o usuário pedir evidências, incluir campo de origem, termo detectado e trecho textual sempre que disponíveis.',\n      reason: `Pedido de evidências teve baixa avaliação do Judge. judge_score=${judgeScore}`,\n      confidence: 0.9\n    });\n  }\n\n  if (\n    judgeFailed &&\n    hasAny(judgeText, [\n      'inventou',\n      'invenção',\n      'invencao',\n      'alucinacao',\n      'alucinação',\n      'sem base',\n      'nao sustentado',\n      'não sustentado',\n      'dados nao encontrados',\n      'dados não encontrados'\n    ])\n  ) {\n    pushLesson(lessons, {\n      category: 'anti_alucinacao',\n      lesson: 'Nunca inventar totais, percentuais, pacientes, atendimentos, scores, classificações ou evidências ausentes no resultado SQL.',\n      reason: 'O Judge indicou possível resposta sem sustentação nos dados.',\n      confidence: 0.98\n    });\n  }\n\n  if (\n    judgeFailed &&\n    hasAny(judgeText, [\n      'rag',\n      'contexto clinico',\n      'contexto clínico',\n      'regua',\n      'régua',\n      'classificacao',\n      'classificação'\n    ])\n  ) {\n    pushLesson(lessons, {\n      category: 'rag_clinico',\n      lesson: 'Para perguntas substantivas, usar o RAG como régua clínica antes do SQL e não substituir a régua por memória ou exemplos anteriores.',\n      reason: 'O Judge indicou problema relacionado ao uso do RAG ou da classificação clínica.',\n      confidence: 0.92\n    });\n  }\n\n  if (\n    judgeFailed &&\n    isAggregationIntent &&\n    hasAny(judgeText, [\n      'incompleto',\n      'faltou metrica',\n      'faltou métrica',\n      'sem percentual',\n      'sem total',\n      'sem estratificacao',\n      'sem estratificação'\n    ])\n  ) {\n    pushLesson(lessons, {\n      category: 'relatorio_metricas',\n      lesson: 'Em pedidos de relatório, contagem ou distribuição, incluir total, estratificação, percentuais quando disponíveis e interpretação objetiva.',\n      reason: 'O Judge indicou incompletude em resposta agregada ou relatório.',\n      confidence: 0.9\n    });\n  }\n\n  if (\n    judgeFailed &&\n    hasAny(judgeText, [\n      'json invalido',\n      'json inválido',\n      'formato invalido',\n      'formato inválido',\n      'nao retornou json',\n      'não retornou json'\n    ])\n  ) {\n    pushLesson(lessons, {\n      category: 'formato_saida',\n      lesson: 'O orquestrador deve retornar somente JSON válido no formato contratado, sem markdown, comentários ou texto fora do objeto.',\n      reason: 'O Judge indicou problema de formato na saída.',\n      confidence: 0.95\n    });\n  }\n\n  if (\n    d.rag_used === true &&\n    d.sql_used === true &&\n    d.error !== true &&\n    judgeScore !== null &&\n    Number(judgeScore) >= 0.85\n  ) {\n    pushLesson(lessons, {\n      category: 'bom_padrao',\n      lesson: 'Para perguntas substantivas, o padrão RAG antes de SQL produz resposta mais confiável.',\n      reason: 'Execução com RAG, SQL e boa avaliação do Judge.',\n      confidence: 0.85\n    });\n  }\n\n  if (\n    d.rag_used === true &&\n    d.sql_used === true &&\n    d.error !== true &&\n    isSampleIntent &&\n    judgeScore !== null &&\n    Number(judgeScore) >= 0.85\n  ) {\n    pushLesson(lessons, {\n      category: 'bom_padrao_amostra',\n      lesson: 'Em pedidos de amostra, o melhor padrão é retornar poucos registros individuais com evidência textual, sem resumo agregado.',\n      reason: 'Execução de amostra aprovada pelo Judge.',\n      confidence: 0.88\n    });\n  }\n\n  return lessons;\n}\n\nconst lessons = lessonFromExecution(data);\n\nreturn lessons.map(item => ({\n  json: {\n    memory_key: 'iris_cirurgias',\n    category: item.category,\n    lesson: item.lesson,\n    reason: item.reason,\n    confidence: item.confidence,\n    source_job_id: data.job_id || null,\n    source_session_id: data.sessionId || null,\n    source_analysis_type: data.analysis_type || null,\n    source_error_type: data.errorType || null\n  }\n}));"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                18016,
                9584
            ],
            "id": "c099099c-5bb2-4306-93c8-3c0ca8b62a80",
            "name": "Preparar Memória"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO memoria_aprendizados_iris (\n  memory_key,\n  category,\n  lesson,\n  reason,\n  confidence,\n  usage_count,\n  active,\n  created_at,\n  updated_at\n)\nVALUES (\n  '{{ String($json.memory_key || \"iris_cirurgias\").replace(/'/g, \"''\") }}',\n  '{{ String($json.category || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.lesson || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.reason || \"\").replace(/'/g, \"''\") }}',\n  {{ Number($json.confidence || 0.7) }},\n  1,\n  TRUE,\n  NOW(),\n  NOW()\n)\nON CONFLICT (memory_key, category, lesson)\nDO UPDATE SET\n  reason = EXCLUDED.reason,\n  confidence = GREATEST(memoria_aprendizados_iris.confidence, EXCLUDED.confidence),\n  usage_count = memoria_aprendizados_iris.usage_count + 1,\n  active = TRUE,\n  updated_at = NOW();",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                18448,
                9552
            ],
            "id": "bda7cb0b-3c20-4f8c-9172-a9987507fca2",
            "name": "Registrar Memória",
            "credentials": {
                "postgres": {
                    "id": "Q5xCi9ciIpvJDHqQ",
                    "name": "Iris-Prod"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO memoria_execucoes_iris (\n  job_id,\n  session_id,\n  conversation_id,\n  original_input,\n  final_answer,\n  analysis_type,\n  rag_used,\n  sql_used,\n  row_count,\n  judge_passed,\n  judge_score,\n  error,\n  error_type,\n  error_message,\n  metadata\n)\nVALUES (\n  '{{ String($json.job_id || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.sessionId || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.conversationId || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.originalInput || \"\").replace(/'/g, \"''\").slice(0, 3000) }}',\n  '{{ String($json.final_answer || \"\").replace(/'/g, \"''\").slice(0, 6000) }}',\n  '{{ String($json.analysis_type || \"\").replace(/'/g, \"''\") }}',\n  {{ $json.rag_used === true ? 'TRUE' : 'FALSE' }},\n  {{ $json.sql_used === true ? 'TRUE' : 'FALSE' }},\n  {{ Number($json.executor_row_count || 0) }},\n  {{ $json.judge_passed === true ? 'TRUE' : ($json.judge_passed === false ? 'FALSE' : 'NULL') }},\n  {{ Number.isFinite(Number($json.judge_score)) ? Number($json.judge_score) : 'NULL' }},\n  {{ $json.error === true ? 'TRUE' : 'FALSE' }},\n  '{{ String($json.errorType || \"\").replace(/'/g, \"''\") }}',\n  '{{ String($json.errorMessage || \"\").replace(/'/g, \"''\").slice(0, 3000) }}',\n  '{{ JSON.stringify({\n    unit_of_analysis: $json.unit_of_analysis || null,\n    periodo: $json.periodo || null,\n    validated: $json.validated === true,\n    has_data: $json.has_data === true,\n    orchestration: $json.orchestration || {},\n    issues: $json.issues || []\n  }).replace(/'/g, \"''\") }}'::jsonb\n);",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                18384,
                9184
            ],
            "id": "00699e2f-f94b-42b8-8c0a-d7d0efc17d46",
            "name": "Registrar Execução",
            "credentials": {
                "postgres": {
                    "id": "Q5xCi9ciIpvJDHqQ",
                    "name": "Iris-Prod"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const entrada = $('Preparar Entrada Orquestrador').first().json || {};\nconst first = $input.first()?.json || {};\n\nfunction parseMaybeJson(value, fallback = []) {\n  if (value === null || value === undefined || value === '') {\n    return fallback;\n  }\n\n  if (Array.isArray(value)) {\n    return value;\n  }\n\n  if (typeof value === 'object') {\n    return value;\n  }\n\n  try {\n    return JSON.parse(value);\n  } catch {\n    return fallback;\n  }\n}\n\nfunction compactText(value, max = 2200) {\n  const text = typeof value === 'string'\n    ? value\n    : JSON.stringify(value || {}, null, 2);\n\n  return text.length > max\n    ? text.slice(0, max) + '...'\n    : text;\n}\n\nfunction cleanText(value, max = 500) {\n  const text = String(value || '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  return text.length > max\n    ? text.slice(0, max) + '...'\n    : text;\n}\n\nconst rawAprendizados = parseMaybeJson(first.aprendizados, []);\n\nconst aprendizados = Array.isArray(rawAprendizados)\n  ? rawAprendizados.map(row => ({\n      categoria: cleanText(row.category || '', 80),\n      regra: cleanText(row.lesson || '', 500),\n      motivo: cleanText(row.reason || '', 500),\n      confianca: Number(row.confidence || 0),\n      usos: Number(row.usage_count || 0)\n    }))\n  : [];\n\nconst regrasPrioritarias = aprendizados\n  .filter(item => item.confianca >= 0.85)\n  .map(item => `${item.categoria}: ${item.regra}`)\n  .slice(0, 10);\n\nreturn {\n  json: {\n    ...entrada,\n\n    memory_context: compactText({\n      tipo: 'aprendizados_curados_do_projeto',\n      uso: [\n        'Use como checklist operacional preventivo.',\n        'Não copie respostas antigas.',\n        'Não substitui RAG.',\n        'Não substitui SQL.',\n        'Não invente dados ausentes.',\n        'Em conflito entre memória e dados/RAG, dados e RAG vencem.'\n      ],\n      regras_prioritarias: regrasPrioritarias,\n      aprendizados\n    }, 2200),\n\n    memory_loaded: true,\n    memory_count: aprendizados.length\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                13488,
                9552
            ],
            "id": "e1ba3a84-0568-4de5-a6c8-6a59c761b7ad",
            "name": "Normalizar Aprendizado"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Webhook').item.json.body.conversationId }}",
                "tableName": "memoria_cirurgias_orquestrador",
                "contextWindowLength": 8
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.4,
            "position": [
                13472,
                9904
            ],
            "id": "522bbe3c-c061-42b7-89c7-a90ffe7fdcb6",
            "name": "Postgres Chat Memory",
            "credentials": {
                "postgres": {
                    "id": "Q5xCi9ciIpvJDHqQ",
                    "name": "Iris-Prod"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const d = $json || {};\nconst judge = d.judge_output || {};\n\nfunction clip(value, max = 2500) {\n  const text = typeof value === 'string'\n    ? value\n    : JSON.stringify(value || {}, null, 2);\n\n  return text.length > max\n    ? text.slice(0, max) + '...'\n    : text;\n}\n\nconst judgeCritique = {\n  judge_passed: d.judge_passed ?? judge.judge_passed ?? null,\n  judge_score: d.judge_score ?? judge.overall_score ?? judge.score_final ?? null,\n  issues:\n    judge.issues ||\n    judge.problems ||\n    judge.judgment?.issues ||\n    d.issues ||\n    [],\n  feedback:\n    judge.feedback ||\n    judge.reason ||\n    judge.recommendation ||\n    judge.correction_hint ||\n    null\n};\n\nreturn {\n  json: {\n    ...d,\n\n    retry_count: Number(d.retry_count || 0) + 1,\n    is_retry: true,\n\n    retry_context: clip({\n      tipo: 'retry_pos_judge',\n      instrucao: 'Corrija a resposta anterior com base na crítica do Judge. Não invente dados. Use somente RAG, SQL e resultados já disponíveis.',\n      critica_do_judge: judgeCritique,\n      resposta_anterior: d.final_answer || '',\n      query_result: d.query_result || null,\n      executor_summary: d.executor_summary || {},\n      rag_context: d.rag_context || ''\n    }, 2500),\n\n    memory_context:\n      d.memory_context ||\n      $('Normalizar Aprendizado').first().json.memory_context ||\n      '{}'\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                13376,
                9280
            ],
            "id": "09a43b00-1fbd-4313-9077-05ee2c51a219",
            "name": "Preparar Retry"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "loose",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "ac808dea-d3cb-464e-a05d-72bf9c76cda9",
                            "leftValue": "={{ \n  (\n    $json.judge_passed === false || \n    Number($json.judge_score || 0) < 0.75\n  ) \n  && Number($json.retry_count || 0) < 1\n}}",
                            "rightValue": "=true",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": true,
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                15088,
                9008
            ],
            "id": "a4ac1ed7-9924-43d9-8d2e-4128d466124a",
            "name": "If Judge Reprovar"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extrair pergunta",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair pergunta": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond": {
            "main": [
                [
                    {
                        "node": "IF erro entrada",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF erro entrada": {
            "main": [
                [
                    {
                        "node": "Preparar erro inicial",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Preparar Entrada Orquestrador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar erro inicial": {
            "main": [
                [
                    {
                        "node": "HTTP Callback",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Call Logging",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Entrada Orquestrador": {
            "main": [
                [
                    {
                        "node": "Buscar Memória",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model Orquestrador": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent Orquestrador",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Ferramenta RAG Blueprint": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Orquestrador",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Ferramenta SQL Executor": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent Orquestrador",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent Orquestrador": {
            "main": [
                [
                    {
                        "node": "Normalizar Orquestrador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar Orquestrador": {
            "main": [
                [
                    {
                        "node": "IF precisa Judge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF precisa Judge": {
            "main": [
                [
                    {
                        "node": "Call Judge Métricas",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Sem Judge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Judge Métricas": {
            "main": [
                [
                    {
                        "node": "Anexar Métricas Judge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sem Judge": {
            "main": [
                [
                    {
                        "node": "HTTP Callback",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Call Logging",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Registrar Execução",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Preparar Memória",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anexar Métricas Judge": {
            "main": [
                [
                    {
                        "node": "If Judge Reprovar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Memória": {
            "main": [
                [
                    {
                        "node": "Normalizar Aprendizado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Memória": {
            "main": [
                [
                    {
                        "node": "Registrar Memória",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Registrar Execução": {
            "main": [
                []
            ]
        },
        "Normalizar Aprendizado": {
            "main": [
                [
                    {
                        "node": "AI Agent Orquestrador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent Orquestrador",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Retry": {
            "main": [
                [
                    {
                        "node": "AI Agent Orquestrador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Judge Reprovar": {
            "main": [
                [
                    {
                        "node": "Preparar Retry",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Registrar Execução",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "HTTP Callback",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Preparar Memória",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Call Logging",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "c8edfc165f70fd37f8f44910f43236a8612a784682a450407620fe0f194829b5"
    }
}